h1 {
  background-color: #f3f4f5;
  font-family: Arial;
  font-size: 24px;
  color: black;
}

h2 {
  background-color: #f3f4f5;
  font-family: Arial;
  font-size: 24px;
  color: black;
}

h3 {
  background-color: #f3f4f5;
  font-family: Arial;
  font-size: 24px;
  color: black;
}

p {
  background-color: #f3f4f5;
  font-family: Gerogia;
  font-size: 18px;
  color: #757575;
}

ul {
  background-color: #f3f4f5;
  font-family: Gerogia;
  font-size: 18px;
  color: #757575;
}

ol {
  background-color: #f3f4f5;
  font-family: Gerogia;
  font-size: 18px;
  color: #757575;
}

body {
  background-color: #f3f4f5;
}
