* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.header {
  background-color: rgb(73, 70, 70);
  height: 50px;
  padding: 0 20vw 0 20vw;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--title {
  font-size: 20px;
  font-weight: normal;
}
.header--list {
  list-style: none;
  display: flex;
}
.header--list__link {
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.main {
  padding: 0 20vw 0 20vw;
  color: rgb(73, 70, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
}
.main--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 10px;
}
.main--info__text {
  font-weight: normal;
}
.main--article {
  height: 100%;
}
.main--title {
  padding-bottom: 30px;
}
.main--text {
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
}

.footer {
  border-top: 1px solid rgb(73, 70, 70);
  color: rgb(73, 70, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20vw 0 20vw;
}
.footer--list {
  list-style: none;
  display: flex;
}
.footer--list__link {
  text-decoration: none;
  color: rgb(73, 70, 70);
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal--square {
  width: 430px;
  height: 300px;
  padding: 45px;
  background-color: white;
  box-shadow: 10px 10px 23px -2px rgba(0, 0, 0, 0.75);
  color: rgb(73, 70, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal--title {
  padding-bottom: 30px;
  font-size: 25px;
}
.modal--text {
  padding: 0 5px 30px 5px;
  font-size: 12px;
}

.modal--buttons {
  width: 430px;
  padding: 0 45px 0 45px;
  display: flex;
  justify-content: space-between;
}
.modal--buttons__1,
.modal--buttons__2 {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: none;
}
.modal--buttons__1 {
  border: solid 2px rgb(73, 70, 70);
  color: rgb(73, 70, 70);
}
.modal--buttons__2 {
  background-color: rgb(73, 70, 70);
  color: white;
}
