.body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: 80px;
}
.header {
  width: 100vw;
  background-color: rgb(235, 151, 207);
  position: fixed;
  top: 0px;
  z-index: 900;
}
.text {
  margin: 0 5px 0 5px;
  font-size: 12px;
  color: cornflowerblue;
}
