.div-1 {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  margin: 5px;
  display: inline;
}
.div-2 {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  margin: 5px;
  display: inline-block;
}
.div-3 {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  margin: 5px;
  display: none;
}
