* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.header {
  background-color: rgb(73, 70, 70);
  height: 50px;
  padding: 0 20vw 0 20vw;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--title {
  font-size: 20px;
  font-weight: normal;
}
.header--list {
  list-style: none;
  display: flex;
}
.header--list__link {
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.main {
  padding: 0 20vw 0 20vw;
  color: rgb(73, 70, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
}
.main--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 10px;
}
.main--info__text {
  font-weight: normal;
}
.main--article {
  height: 100%;
}
.main--title {
  padding-bottom: 30px;
}
.main--text {
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
}

.footer {
  border-top: 1px solid rgb(73, 70, 70);
  color: rgb(73, 70, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20vw 0 20vw;
}
.footer--list {
  list-style: none;
  display: flex;
}
.footer--list__link {
  text-decoration: none;
  color: rgb(73, 70, 70);
  font-size: 12px;
  padding: 0 5px 0 5px;
}
